*.pdf
*.msi
.vs
*.vcxproj*
*.vscode
*.sln
*.flex*
*.tab*
*.jpg
*.asm
hw*.exe

todo

03-declarations-and-assignments/*.in
04-arithmetic/*.in
05-conditionals-and-loops/*.in
06-preprocessor-directives/*.in
07-methods/*.in